*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{

  width: 100%;
  border: 2px solid transparent;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
}
.contenedor .elastic1{
  width: 400px;

}
.contenedor .elastic2{
  margin-left: 700px;
  width: 400px;
}

.container1{
    width: 100%;
    height: 50px;
    background-color: #424245;


}
.container2{
    align-items: center;
}

 ul{
    list-style: none;
}
.menu > ul > li{
    position: relative;
    padding: 15px;
    display: inline-block;
    float: left;
    position: relative;
    left: 35%;

}
.menu > ul > li > a{
    text-decoration: none;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #c5c5c9;
    font-size: 12px;
}

.menu a:hover{
    color: rgb(222, 222, 222);
    transition: all .3s;
}



/******************************************search-bar*********************************************/
.search-bar{
    width: 22%;
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
    left: 525px;
    backdrop-filter: blur(4px) saturate(180%);
    border-radius: 40px;
    position: relative;
    top: 10px;
}
.search-bar > input{
    background: transparent;
    width: 0;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 50px;
    padding:  2px 10px;
    position: relative;
    transition: all .16s;
    font-size: 20px;
	color: #fff;
	font-size: 13px;
    font-weight: 400;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

::placeholder{
    color: #fff;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.search-bar > button{
    position: relative;
    left: 15px;
    background: transparent;
    border: none;
}
.search-bar > button > img{
    width: 18px;
    max-width: 100%;
    max-height: 100%;
    border-width:  40% ;
    position: relative;
    top: 1.5px;
    left: px;
}
.search-bar:hover > input{
    width: 240px;
    background: rgba(225, 225, 225, 0.2);
 
    transition: all .60s;
}
.container2 .logo{
    margin: 6px;
    width: 37px;
    position: static;
    float: left;
}
.logo:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/*****************************************************************submenu*******************************************************/
.submenu{
    position: absolute;
    background: #424245;
    width: 170%;
    border-radius: 0px 0px 15px 15px;
     display: none;/* this is very important it can desappear the submenu */
}
ul{
    list-style: none;
}
.submenu > li > a{
    display: block;
    padding: 15px;
    color: #c5c5c9;
    text-decoration: none;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 11px;
}
.submenu > li > a:hover{
    color: rgb(222, 222, 222);
    transition: all .3s;
} 
.menu li:hover .submenu{
    display: block;
}


Result Skip Results Iframe
EDIT ON
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #ffdde1;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}


.content {
  align-content: center;
  justify-content: center;
  
  background: transparent;
  
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  color: transparent;

  background-clip: text;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.box{
  margin-top: 50px;
  display: flex;
 

}
aside{
  margin-left: 340px;
  background: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(80px) saturate(180%);
  width: 25%;
  height: 400px;
  text-align: center;
  border-radius: 30px;
  width: 25%;
}
.contain{
  background: transparent;
  margin-top: 22px;

}
h3{
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 50pt;
  padding-top: 30px;

}
.phrase{
  margin-top: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.phrase p{
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align: center;
    text-align: justify;
}

.aside2{
  margin-left: 100px;
  background: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(80px) saturate(180%);
  width: 25%;
  height: 400px;
  text-align: center;
  border-radius: 30px;
  width: 25%;
}
.contain2{
  background: transparent;
  margin-top: 22px;

}
.tittle{
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 50pt;
  padding-top: 30px;

}
.phrase2{
  margin-top: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.phrase2 p{
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align: center;
    text-align: justify;
}

/****************************/
.tiendas{
  display: flex;
  text-align: center;

}

figcaption a{
  background-color: #0071e3;
  border-radius: 50px;
  cursor: context-menu;
  text-decoration: none;
  color: white;
  padding: 5px 13px 5px 13px;
  border: 50px;
  font-family:  "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.tienda1{
  width: 33.3%;
  float: left;
}
.tienda1 img{
  max-width: 80%;
}
.tienda2{
  width: 33.3%;
}
.tienda2 img{
  max-width: 80%;
}
.tienda3{
  width: 33.3%;
}
.tienda3 img{
  max-width: 80%;
}

.advertisment{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  border-top: 3px solid #000;
}
.advertisment h3{
  font-family:  "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 20pt;
}

footer{
  position: relative;
  top: 7px;
  bottom: 40px;
}
.contactanos img{
    position: relative;
    top: 5px;
    width: 50px;
    height: 60px;
    padding: 10px;
    background: transparent;
}
.contactanos{
    margin-top: 40px;
    width: 100%;
    background-color: #dbdbdb;

}
.contactanos p{
    position: relative;
    top: 15px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    padding: 10px;
    float: left;
}
.diferences{
  text-align: center;
  font-size: 30pt;
  padding: 30px;
}
.diferences{
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 20px;
  font-family:  "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  background-image: linear-gradient(90deg,#FF5F6D,#FFC371);
  color: #fff;
}
.promotion{
  display: flex;
  text-align: center;
}
.diferenceimg{
  width: 33.3%;
}
.diferenceimg .promotion1{
  width: 480px;
}
.diferenceimg .promotion2{
  width: 480px;
  height: 480px;
}
.diferenceimg .promotion3{
  width: 500px;
  height: 480px;
}
.diferenceimg a{
  background-color: #0071e3;
  border-radius: 50px;
  cursor: context-menu;
  text-decoration: none;
  color: white;
  padding: 5px 13px 5px 13px;
  border: 50px;
  font-family:  "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
