div{
    width: 100%;
    margin: auto;
}

#imgcab {
    width: 80%;
    margin: auto;

}
.items{
    position: static;
    width: 95%;
    margin: auto;
    border-radius: 55px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    text-align: center;
    background-color: rgb(243, 243, 243);
   
  
}
.items img{
    padding-top: 3px;
    width: 90%;
    max-width: 60%;
    max-height: 300px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 15px;

}
.item img:hover{
    transform: scale(1.04);
}
.item h4{
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #1d1d1f;
}
.items a{
    position: relative;
    top: 15px;
    text-decoration: none;
    padding: 5px 13px 5px 13px;
    background-color: #0071e3;
    border-radius: 50px;
    color: #fafafa;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 15px;
    transition: 0.2s all;
}
.items a:hover{
    transform: scale(1.08);
}
.video{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    position: static;
    margin-top: 25px;
    margin-bottom: 65px;
    
}
.video video{
    width: 80%;
    height: 450px;
    border-radius: 10px;
    position: static;
}
.p{
    display: flex;
   justify-content: center; 
   border: 3px;
   width: 18.7%;
   margin-top: 10px;

   
    
}
.p p{
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    border: 3px solid #1d1d1f; 
    padding: 10px;
    width: 600px;
    font-size: 30pt;
}
footer{
    position: relative;
    top: 7px;
    bottom: 40px;
}
.contactanos img{
      position: relative;
      top: 5px;
      width: 50px;
      height: 60px;
      padding: 10px;
      background: transparent;
}
.contactanos{
      margin-top: 40px;
      width: 100%;
      background-color: #dbdbdb;
  
}
.contactanos p{
      position: relative;
      top: 15px;
      font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
      padding: 10px;
      float: left;
}